/* Style the header */
.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

    /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 102px;
    }

.glow {
    .glow {
            color: #fff;
            text-align: center;
            animation: glow 1s ease-in-out infinite alternate;
        }

        @-webkit-keyframes glow {
            from {
                text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
            }

            to {
                text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
            }
        }


@import url(https://fonts.googleapis.com/css?family=Oswald:400);

html {
    font-size: 62.5%;
}

body {
    background-color: #333;
}

.btn {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    // letter-spacing: .2rem;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    padding: 0 4rem 0 3.8rem;
    color: #FFF;
    background: none;
    border: 1px solid #FFF;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    &:after

{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 150%;
    background: #FFF;
    pointer-events: none;
    transform: translate3d(0, 45px, 0);
    transition: all 0.3s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

i {
    font-style: normal;
    line-height: 4.5rem;
    display: inline-block;
    height: 100%;
    padding-left: 1px;
    padding-right: 1px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    &:hover

{
    transform: translate3d(0, -6px, 0);
}

}

&:hover {
    color: #333;
    &:after

{
    transform: translate3d(0, 0, 0);
}

}
}

View Compiled

